<!DOCTYPE html>
<html>
  <head>
    <title>MapApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-light p-3">
      <h1>あなたのアプリケーション名</h1>
    </header>

    <main class="container my-5">
      <%= yield %>
    </main>

    <footer class="bg-light p-3 text-center">
      <p>© あなたのアプリケーション名</p>
    </footer>
  </body>
</html>
